@import '../colors';
.mat-mdc-icon-button.mat-mdc-button-base {
  color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;

  svg {
    width: 100%;
    height: 100%;
  }

  .mat-icon {
    width: 36px;
    height: 36px;
  }
}

.mat-mdc-icon-button.mat-mdc-button-base:hover {
  background-color: $light-blue;
}

.mat-mdc-icon-button.mat-mdc-button-base:active {
  background-color: $active-light-blue;
}

.mat-mdc-icon-button:disabled {
  color: $default-gray-light;
}

.mat-mdc-icon-button.cdk-program-focused .mat-mdc-button-persistent-ripple::before {
  opacity: 0;
}

.mat-mdc-button:not(:disabled) {
  color: $default-blue;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  padding: 20px;
}

.mdc-button:hover {
  background: $hover-blue-light;
}

.mdc-button:focus {
  background: $active-blue-light;
}

//
.mat-mdc-button.mat-primary:not(:disabled) {
  color: $white;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  padding: 20px;
  background: $default-blue;
}

.mat-mdc-button.mat-primary:disabled {
  color: $white;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  padding: 20px;
  background: $disabled-blue;
}

.mdc-button.mat-primary:hover {
  background: $hover-blue;
}

.mdc-button.mat-primary:focus {
  background: $active-blue;
}
