$title-black: #231F20;
$title-blue: #2F7FD5;
$text-black: #263238;

$bg-blue: #E9F3FF;
$dark-blue: #304879;
$light-blue: #E2EEFF;
$active-light-blue: #B5D3FF;
$default-blue: #2F67D5;
$hover-blue: #3C7CF8;
$hover-blue-light: rgba(60, 124, 248, 0.1);
$active-blue: #194EB6;
$active-blue-light: rgba(25, 78, 182, 0.2);
$disabled-blue: #D8DEE9;

$white: #FFFFFF;

$default-gray-light: #BBC5C9;
$red: #DA1B1B;

