
.dialog__title {
  padding: 0;
  margin-bottom: 20px;
}

.dialog__actions-wrap {
  margin-top: 50px;
  align-self: flex-end;
}

.dialog__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dialog__form {
  display: flex;
  flex-direction: column;
}
.dialog__button{
  margin-left: 10px;
}
