@import "./../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/fonts";
@import "styles/colors";
@import 'styles/material-overrides';
@import 'styles/scaffolding';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: 400;
  color: $text-black;

  ::-webkit-scrollbar {
    background-color: $dark-blue;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-blue;
    border-radius: 0.5rem;
    width: 1rem;
  }
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: $title-black;
  padding: 0;
}
